*, *::after, *:: ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul, ol{
    list-style: none;
}

a{
    display: flex;
    display: inline-block;
    text-decoration: none;
}
img{
    display: flex;
    object-fit: cover;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}


.container {
    width: 100%;    
    min-width: 1230px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto ;
  }
  
