@import "../css/global.css";
@import "../css/fonts.css";

body {
  font-family: "Martian Mono";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0 5px;

  color: #062630;
}
.btn {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #062630;
  border-radius: 8px;
}

.title {
  font-weight: 600;
  font-style: 50px;
  line-height: 1.3;
  letter-spacing: -2px;
}

/*  HEADER START  */
.header {
  padding-top: 32px;
  padding-bottom: 80px;
  background-color: #faf5f3;
  background-image: url(../images/pattern.png);
  background-repeat: no-repeat;
  background-size: cover, 684px;
  background-position: center right -472px bottom -226px;

  margin-bottom: 120px;
}

.header-top {
  margin-bottom: 80px;
}

.header-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.header-hero__content {
  max-width: 570px;
}
.header-hero__title {
  font-weight: 700;
  font-size: 62px;
  line-height: 1.2;
  letter-spacing: 1, 2;

  margin-bottom: 24px;
}
.header-hero__desc {
  font-family: Inter;
  color: #385159;

  margin-bottom: 32px;
}
.header-hero__btn {
  padding-left: 24px;
  padding-right: 24px;

  display: flex;
  align-items: center;

  gap: 16px;

  background-color: #fff5ff;

  font-weight: 600;
  font-size: 18px;
  line-height: 1, 3;

  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #ffe2d1 0%, #ff5eff 100%);
  }
}

.testimonials {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
}
.testimonials__image {
  object-fit: fill;
}
.testimonials__content {
}
.stars {
}
.testomonials__desc {
  color: #385159;
  line-height: 1, 2;
  letter-spacing: -1px;
}
.header-hero__images {
  border-radius: 8px;
}
@media (max-width: 1280px) {
  .header-hero__images {
    width: 436px;
    height: 506px;
  }
}

@media (max-width: 1024px) {
  .header-hero {
    flex-direction: column;
    width: 536px;
    height: 606px;
  }

  .header-hero__content {
    margin-bottom: 64px;
  }
  .header-hero__images {
    height: auto;
  }
}

@media (max-width: 768px) {
  .header-hero {
    align-items: start;
    background-color: green;
  }

  .header-hero__images {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .header-hero__title {
    font-size: 38px;
  }
  .header-hero__btn {
    font-size: 16px;
  }
}

/* HEADER END */

/* TOGETHER START*/
.together {
  margin-bottom: 120px;
}
.together__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.together__image {
}
.together__content {
  min-width: 530px;
}
.together__title {
  margin-bottom: 34px;
}
.together__list {
  font-family: Inter;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.together__list__item {
  display: flex;
  align-items: center;
  gap: 14px;
  /*   
  i( 
    font-size: 28px;
    font-weight: 600px;
  ) */
}

@media (max-width: 1280px) {
  .together__image {
    width: 460px;
    height: 420px;
  }
}

@media (max-width: 1024px) {
  .together__image {
    width: 460px;
    height: 420px;
  }
}
.together__container {
  flex-direction: column-reverse;
}

@media (max-width: 768px) {
  .together__image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 414px) {
.title{
  font-size: 34px;
}

}
/* TOGETHER END */
